{% extends '_layout.html' %}

{% block title %}Create a post!{% endblock %}

{% block body %}

<div>
    <h1>Create a new post!</h1>
    <form action="/createpost" method="POST" enctype="multipart/form-data">
        <div class="form-group"> 
            <label for="title">Title:</label>
            <input type="" class="form-control" name="title" placeholder="" required>
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <input type="" class="form-control" name="description" placeholder="" required>
          </div>
          <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" class="form-control" name="cost" placeholder="">
          </div>
          <div class="form-group">
            <label for="imageurl">Upload Image URL:</label>
            <input type="" class="form-control" name="imageurl" placeholder="">
          </div>


          <!-- Still working on letting users upload images -->
          <div class="form-group">
            <label for="imagefile">Upload Image STILL BEING WORKED ON:</label>
            <input type="file" id="imagefile" name="imagefile">
          </div>
          <button type="submit" class="btn btn-warning">Submit</button>
    </form>
</div>

{% endblock %}