{% extends '_layout.html' %}

{% block title %}Edit {{post[1]}}{% endblock %}

{% block body %}
<h1>Edit your post here!</h1>
    <form action="/edit/{{post[0]}}" method="POST" enctype="multipart/form-data">
        <div class="form-group"> 
            <label for="title">Title:</label>
            <input type="" class="form-control" name="title" placeholder="{{post[1]}}" required>
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <input type="" class="form-control" name="description" placeholder="{{post[2]}}" required>
          </div>
          <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" class="form-control" name="price" placeholder="{{post[3]}}">
          </div>
          <button type="submit" class="btn btn-warning">Submit</button>
{% endblock %}