{% extends '_layout.html' %}

{% block title %}{{post[1]}}{% endblock %}

{% block body %}

    <div style="display:grid; grid-template-columns: 1fr 1fr; column-gap: 25px;">
        <div style="height: 250px; margin: 20px;">
          <h1>{{post[1]}}</h1>
          <img src="../static/images/{{post[3]}}" width="100%" />
          <h3>Posted by: {{post[4]}}</h3>
          <h4>{{post[2]}}</h4>
        </div>
       
        <div  style="height: 250px; margin:20px;  ">
            <h1>Comments</h1>
            
            {%if post|length != 0%}
            {%for i in range(comments|length)%}
            <div style = "border-bottom: solid; margin: 30px;">
            <h6> {{comments[i][2]}} said:</h6>
            <p> {{comments[i][1]}}</p>
            </div>
            {%endfor%}
            {%endif%}
            

            <form action="/comments/{{post[0]}}" method="POST" >
                <textarea style="width: 100%;" id="comment" name="comment" rows="3" cols="50" placeholder="Leave a comment..." maxlength="300" padding-bottom="" required></textarea><br>
                <input type="submit" value="Submit">
            </form>
        </div>

    </div>
{% endblock %}