<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrap cdn -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <title>{% block title %}{{post[1]}}{% endblock %}</title>
  </head>
  <body>
    <!-- navbar for website-->
    <header class="p-5 text-bg-dark d-flex justify-content-between">
      <h1>ArtWork</h1>
      <div>
        <div class="justify-content-center">
            <a href="/homepage" class="btn btn-outline-light me-2">Homepage</a>
        
         
        </div>
      </div>
    </header>
    
    <footer></footer>
  </body>
</html>



{% block body %}

    <div style="display:grid; grid-template-columns: 1fr 1fr; column-gap: 25px;">
        <div style="height: 250px; margin: 20px;">
          <h1>{{post[1]}}</h1>
          <img src="../static/images/{{post[3]}}" width="100%" />
          <h3>Posted by: {{post[4]}}</h3>
          <h4>{{post[2]}}</h4>
        </div>
       
        <div  style="height: 250px; margin:20px;  ">
            <h1>Comments</h1>
            
            {%if post|length != 0%}
            {%for i in range(comments|length)%}
            <div style = "border-bottom: solid; margin: 30px;">
            <h6> {{comments[i][2]}} said:</h6>
            <p> {{comments[i][1]}}</p>
            </div>
            {%endfor%}
            {%endif%}
            

            <form action="/comments/{{post[0]}}" method="POST" >
                <textarea style="width: 100%;" id="comment" name="comment" rows="3" cols="50" placeholder="Leave a comment..." maxlength="300" padding-bottom="" required></textarea><br>
                <input type="submit" value="Submit">
            </form>
        </div>

    </div>
{% endblock %}