{% extends './_layouts/_layout_profile.html' %} 
{% block title %}Your Profile{% endblock %}
{% block body %}
    <div style="margin-top: 25px">
      {% block verify %}
      {%if data[0][5] == 1%}
      <h1 style="font-style: italic; color: red;">ARTIST</h1>
      {%endif%}
      {% endblock %}
      <button onclick=openPicForm() style="background-color: inherit; border: none;" class="picBtn">
        <img src="../static/images/{{data[0][4]}}" width="300px" height="auto" style="clip-path: circle()">
      </button>

      <h2 style="margin-left: 30px;">{{data[0][0]}}</h2>
      <h4 style="margin-left: 30px">${{data[0][6]}}</h4>
      <h4 style="margin-left: 30px">{{data[0][3]}}</h4>

      <button style="background-color: transparent; border-color: transparent" class="openbtn" onclick="openFollowerForm()">
        <div class="follower-count" style="display: inline">
          <img src="/static/images/follower.svg" alt="Follower Icon" style="background-color: transparent; width: 40px; height: 40px; margin-left: 10px;">
          <span>{{follower_count[0][0]}}</span>
        </div>
      </button>
    </div>

    <div id="followerListOverlay" class="overlay">
      <div class="wrap">
        <span class="closebtn" onclick="closeFollowerForm()" title="Close Overlay">&#215</span>
        <h2>Followers</h2>
        <form action="/profile" method="POST">
          {% for follower in followers %}
            <label>{{ follower[0] }}</label>
            <br>
          {% endfor %}
        </form>
      </div>
    </div>

    <div id="editProfileOverlay" class="overlay">
      <div class="wrap">
        <span class="closebtn" onclick="closeForm()" title="Close Overlay">&#215</span>
        <h2>Edit Profile</h2>
        <form action="/profile" method="POST">
            <label for="username">Username</label>
            <input type="username" name="username" value="{{data[0][0]}}" />
            <label for="email">Email</label>
            <input type="email" name="email" value="{{data[0][1]}}" />
            <label for="password">Password</label>
            <input type="password" name="password" value="{{data[0][2]}}" />
            <label for="bio">Bio</label>
            <input type="text" name="bio" value="{{data[0][3]}}" />
            <input type="submit" value="Save" />
        </form>
      </div>
    </div>
    <div id="editProfilePicOverlay" class="overlay">
      <div class="wrap">
        <span class="closebtn" onclick="closePicForm()" title="Close Overlay">&#215</span>
        <h2>Upload Profile Picture</h2>
        <form action="/profile/pic" method="POST" enctype="multipart/form-data">
          <label for="imagefile">Upload an image here: </label>
          <input type="file" id="imagefile" name="file" required>
          <input type="submit" value="Save" />
        </form>
      </div>
    </div>
    <button style="margin-left: 30px" class="openbtn" onclick="openForm()">Edit Profile</button>
    <form action="/add" method="get">
      <button style="margin-left: 30px">Add Funds</button>
    </form>
{% endblock %}